@import url(html.css);
@import url(input.css);
@import url(palette.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fancy-text-shadow-sm {
    text-shadow: 1px 1px var(--palette-color-b), 
                 2px 2px var(--palette-color-b);
  }
  .fancy-text-shadow {
    text-shadow: 1px 1px var(--palette-color-b), 
                 2px 2px var(--palette-color-b),
                 3px 3px var(--palette-color-b);
  }
  .fancy-text-shadow-md {
    text-shadow: 1px 1px var(--palette-color-b), 
                 2px 2px var(--palette-color-b),
                 3px 3px var(--palette-color-b), 
                 4px 4px var(--palette-color-b);
  }
  .fancy-drop-shadow {
    filter: drop-shadow(1px 1px 0px var(--palette-color-b))
            drop-shadow(2px 2px 0px var(--palette-color-b))
            drop-shadow(3px 3px 0px var(--palette-color-b));
  }
  .fancy-drop-shadow-md {
    filter: drop-shadow(1px 1px 0px var(--palette-color-b))
            drop-shadow(2px 2px 0px var(--palette-color-b))
            drop-shadow(3px 3px 0px var(--palette-color-b))
            drop-shadow(4px 4px 0px var(--palette-color-b));
  }
}
