:root {
  --palette-color-a: rgb(6, 17, 60);
  --palette-color-b: rgb(255, 140, 50);
  --palette-color-c: rgb(221, 221, 221);
  --palette-color-d: rgb(238, 238, 238);
  --palette-color-e: rgb(141, 141, 141);
}